<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <main class="main">
    <h1 class="main-heading">TEXT EDITOR</h1>
    <div class="editor">
      <div class="tools">
      </div>
      <div class="textarea" contenteditable="true"></div>
      <div class="buttons">
        <button class="save-button">SAVE</button>
        <button class="load-button">LOAD</button>
      </div>
    </div>
  </main>
  <script type="text/javascript">

    const textArea = document.querySelector(".textarea");
    const saveButton = document.querySelector(".save-button");
    const loadButton = document.querySelector('.load-button');
    const tools = document.querySelector('.tools')

    const toolsList =[
      {
        icon: '<b>B</b>',
        mod: 'bold'
      },
      {
        icon: '<i>I</i>',
        mod: 'italic'
      },

      {
        icon: '&#8226',
        mod: 'insertUnOrderedList'
      }
    ]

    function modifyText(modification) {
      document.execCommand(modification);
    }

    const onInit = () =>{
      for (let tool of toolsList){
        const button = document.createElement('button');
        button.classList.add('tools__button');
        button.innerHTML = tool.icon;
        button.addEventListener('click', ()=>{modifyText(tool.mod), textArea.focus()})
        tools.appendChild(button)
      }
    }

    function saveFile() {
      const data = { text: textArea.innerHTML };
      fetch("http://localhost:3000/api", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      })
        .then((resp) => resp.text())
        .then((data) => console.log(data))
        .catch((err) => console.log(err));
    }

    function loadFile() {
      fetch('http://localhost:3000/api')
        .then((resp) => resp.json())
        .then((resp) => textArea.innerHTML = resp.text)
        .catch(err => console.log(err))
    }

    onInit()

    saveButton.addEventListener("click", saveFile);
    loadButton.addEventListener("click", loadFile);

  </script>
</body>

</html>